name: 'CI'

# Detect interesting npm scripts and run them.
#
# You might need to rename some of your npm scripts!
# See https://github.com/verkstedt/actions#ci
#
# This file has been created from
# https://github.com/verkstedt/.github/blob/main/workflow-templates/ci.yaml
#
# IF YOU MODIFY IT IN ANY WAY, DESCRIBE IT IN THE COMMENT HERE
# to make updating in the future easier.

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: 'CI'
    uses: verkstedt/actions/.github/workflows/ci.yaml@v1
    secrets: inherit
    with:
      working-directory: .

  lint-pkg:
    name: 'Lint package.json'
    runs-on: ubuntu-latest
    needs:
      - ci
    steps:
      - name: Setup
        uses: verkstedt/actions/setup@v1
        with:
          working-directory: .
      - name: Lint package.json
        working-directory: .
        run: npm run lint:pkg

  notify-main-branch-failure:
    name: Notify about failure on main branch
    needs:
      - ci
      - lint-pkg
    if: failure() && github.head_ref == 'main'
    uses: verkstedt/actions/.github/workflows/notify-main-branch-failure.yaml@v1
    secrets: inherit
